[Unit]
Description=OfflineIMAP Service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/offlineimap

[Install]
WantedBy=default.target
After=network-online.target